  <meta http-equiv='cache-control' content='no-cache'> 
  <meta http-equiv='expires' content='0'> 
  <meta http-equiv='pragma' content='no-cache'>
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  <meta name="KEYWORDS" content="Vishnu, monitoring, monitor, &Uuml;berwachung, &uuml;berwachen, plugin, parallel, Prozesssteuerung, Steuerung, process, job-controller, controlling, windows, desktop, c#, github, open source, kostenlos, free, neteti.de, vishnu.reallyhuman.net">
  <meta name="AUTHOR" content="Erik Nagel">
  